@model Identidad.Models.Pareja

@{
    ViewData["Title"] = "Editar Pareja";
}

<h1>Editar Pareja</h1>

<hr />
<div class="row font2">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ParejaID" />
            <div class="form-group">
                <label asp-for="Jugador1" class="control-label font2b required-field">Jugador1</label>
                <select id="Jugador1" asp-for="Jugador1" class="form-control" asp-items="ViewBag.Jugador1">
                    <option value="@Model.Jugador1"></option>

                </select>
                <span asp-validation-for="Jugador1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jugador2" class="control-label font2b required-field">Jugador2</label>
                <select id="Jugador2" asp-for="Jugador2" class="form-control" asp-items="ViewBag.Jugador2">
                    <option value="@Model.Jugador2"></option>

                </select>
                <span asp-validation-for="Jugador2" class="text-danger"></span>
            </div>
            <div>
                <label id="mensaje" class="text-danger"> </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary font2" />
            </div>
        </form>
    </div>
    <div>
    <a class="font2 " asp-action="Index">Volver a la Lista</a>
    </div>

    @section Scripts{
        <script>
            function iguales() {
                if ($Jugador2.value === $Jugador1.value) {
                    $mensaje.html = "Jugadores tienen que ser distintos..."
                } else {
                    $mensaje.html = ""
                };
            }
        </script>
    }
</div>



