@model Identidad.Models.Recursos.TipoDocumento

@{
    ViewData["Title"] = "Detalle";
}
    <div class="container-fluid" style="margin-left:3EM">

        <h1>Tipo de Documento</h1>

        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2 font2b">
                    @Html.DisplayNameFor(model => model.tipoDeDocumento)
                </dt>
                <dd class="col-sm-10 font2">
                    @Html.DisplayFor(model => model.tipoDeDocumento)
                </dd>
            </dl>
        </div>
        <div>
            <a class="font2 " asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
            <a class="font2 " asp-action="Index">Volver a la Lista</a>
        </div>
    </div>