
@{
    ViewData["Title"] = "Recupero de contarseña";
  
}

<h1>Recupero de contarseña</h1>
<h4>
    Si usted tiene una cuenta le hemos enviado un correo electronico
    cn las instrucciones para resetear su contraseña.
    
</h4>

