@model ForgotPasswordViewModel

<h2>Forgot Password</h2>
<hr />
<div class="row font2">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="font2b">Email</label>
                <input asp-for="Email" class="form-control font2" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary font2">Enviar</button>
        </form>
    </div>
</div>