
@{
    ViewData["Title"] = "Confiramcion de Cambio de contraseña";
}

<h1>Confirmacion de cambio de contraseña</h1>
<h4>
    Su contraseña se ha cambiado. 
    Oprima <a class="font2 " asp-action="Login">aquí </a>para iniciar sesión.
</h4>

