@model Identidad.Models.ApoderadoClub

@{
    ViewData["Title"] = "Agregar Apoderado";
}
    <div class="container-fluid" style="margin-left:2EM">

        <h1>Agregar Apoderado</h1>

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ClubID" class="control-label font2b"></label>
                       
                                <select asp-for="ClubID" class="form-control  font2" asp-items="ViewBag.ClubID">
                                    <option value=""> Elija un Club...</option>
                                </select>

                     
                    </div>
                    <div class="form-group">
                        <label asp-for="PerfilID" class="control-label  font2b"></label>
                        <select asp-for="PerfilID" class="form-control  font2" asp-items="ViewBag.PerfilID">
                            <option value=""> Elija un apoderado...</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Agregar" class="btn btn-primary font2" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a class="font2" asp-action="Index">Volver a la Lista</a>
        </div>

        </div>
