@model Identidad.Models.PresidenteFederacion

@{
    ViewData["Title"] = "Editar Presidente Federacion";
}
    <div class="container-fluid" style="margin-left:2EM">

        <h1>Editar Presidente Federacion</h1>

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="PresFedID" />
                    <div class="form-group">
                        <label asp-for="FedID" class="control-label font2b"></label>
                        <select asp-for="FedID" class="form-control font2" asp-items="ViewBag.FedID">
                            <option asp-value="ViewBag.FedID"></option>
                        </select>                        <span asp-validation-for="FedID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PerfilID" class="control-label font2b"></label>
                        <select asp-for="PerfilID" class="form-control font2" asp-items="ViewBag.PerfilID">
                            <option asp-value="ViewBag.PerfilID" ></option>
                        </select>
                        <span asp-validation-for="PerfilID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary font2" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a class="font2" asp-action="Index">Volver a la Lista</a>
        </div>

    </div>
