@model IEnumerable<Identidad.Models.Recursos.CategoriaTorneo>

@{
    ViewData["Title"] = "Categorias Torneos";
}
<div class="container-fluid" style="margin-left:3EM">

    <h1>Categorias Torneos</h1>

    <p>
        <a class="font2 " asp-action="Create">Agregar</a>
    </p>
    <table class="table table-striped font2">
        <thead class="table-dark">
            <tr class=font2b>
                <th>
                    @Html.DisplayNameFor(model => model.catTorneo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.catTorneo)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.catTorneoID">Editar</a> |

                        <a asp-action="Delete" asp-route-id="@item.catTorneoID">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
