@model Identidad.Models.Recursos.Ciudad

@{
    ViewData["Title"] = "Editar Ciudad";
}

<h1>Editar Ciudad</h1>

<hr />
<div class="row font2">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CiudadID" />
            <div class="form-group">
                <label asp-for="nombre" class="control-label font2b">Nombre Ciudad</label>
                <input asp-for="nombre" class="form-control font2" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProvinciaID" class="control-label font2b">ID Provincia</label>
                <select asp-for="ProvinciaID" class="form-control font2" asp-items="ViewBag.Provincia">
                    <option value="@Model.ProvinciaID"></option>
                </select>                     
                <span asp-validation-for="ProvinciaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary font2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="font2 " asp-action="Index">Volver a la Lista</a>
</div>

