@model Identidad.Models.Recursos.CantidadJugadores

@{
    ViewData["Title"] = "Agregar Cantidad Jugadores";
}
<div class="container-fluid" style="margin-left:3EM">

    <h1>Agregar Cantidad de Jugadores</h1>

    <hr />
    <div class="row font2">
        <div class="col-md-8">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="cantJug" class="control-label font2b">Cantidad de Jugadores</label>
                    <input asp-for="cantJug" class="form-control" />
                    <span asp-validation-for="cantJug" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Agregar" class="btn btn-primary font2" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="font2 " asp-action="Index">Volver a la Lista</a>
    </div>

    </div>
