@model Identidad.Models.Recursos.CantidadJugadores

@{
    ViewData["Title"] = "Eliminar Cantidad Jugadores";
}
    <div class="container-fluid" style="margin-left:3EM">

        <h1>Eliminar Cantidad de Jugadores</h1>

        <h3>esta seguro de eliminar esta cantidad?</h3>
        <div class="font2">
            <hr />
            <dl class="row">
                <dt class="col-sm-2 font2b">
                    @Html.DisplayNameFor(model => model.cantJug)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.cantJug)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="cantJugID" />
                <input type="submit" value="Eliminar" class="btn btn-danger font2" />
            </form>
            <a class="font2 " asp-action="Index">Volver a la Lista</a>

        </div>
        </div>