@model IEnumerable<Identidad.Models.Recursos.CantidadJugadores>

@{
    ViewData["Title"] = "Cantidad Jugadores";
}
    <div class="container-fluid" style="margin-left:3EM">

        <h1>Cantidad Jugadores</h1>

        <p>
            <a class="font2 " asp-action="Create">Agregar</a>
        </p>
        <table class="table table-striped font2">
            <thead class="table-dark">
                <tr class="font2b">
                    <th>
                        @Html.DisplayNameFor(model => model.cantJug)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.cantJug)
                        </td>
                        <td>
                            <a class="font2" asp-action="Edit" asp-route-id="@item.cantJugID">Editar</a> |
                            <a class="font2" asp-action="Delete" asp-route-id="@item.cantJugID">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
