@model Identidad.Models.Calle

@{
    ViewData["Title"] = "Detalle de Calle";
}

<h1>Detalle de Calle</h1>

<div class="font2" style="margin-left:10px>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 font2b">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10" style="width:auto">
            @Html.DisplayFor(model => model.nombre)
        </dd>
     
    </dl>
</div>
<div>
    <a class="btn btn-primary font2" asp-action="Edit" asp-route-id="@Model.ID">Editar</a><br />
    <a class="font2" asp-action="Index">Volver a la Lista</a>
</div>
