
@{
    ViewData["Title"] = "Ayuda";
}
    <div style="margin:20px">
        <h1>Ayuda</h1>

        <h2 class="table-dark"> Para Registrarse </h2>
        <h3> 1 - Ingrese uma dirección de correo electrónico válida y una contraseña.</h3>
        <h3> 2 - Confirme el registro usando el enlace que se le envió a la casilla de correo.</h3>
        <br>
        <h2 class="table-dark"> Para ingresar sus datos personales </h2>
        <h3> 1 - Inicie sesión (login)</h3>
        <h3> 2 - Ingrese a Mi Perfil</h3>
        <h3> 3 - Escriba sus datos y cree el perfil. Puede cambiarlos volviendo a ingresar a Mi Perfil</h3>
        <br>
        <h2 class="table-dark"> Para anotarse en un torneo </h2>
        <h3> 1 - Inicie sesión (login)</h3>
        <h3> 2 - Busque la lista de torneos (Torneos en el menú).</h3>
        <h3> 3 - Si está habilitado para inscribirse oprima el enlace Inscribirme</h3>
        <br>

        <h2 class="table-dark"> Para Obtener rol de Presiente Federacion: </h2>
        <h3> Este rol solo lo pueden asignar el Presidente de la Federacion Nacional </h3>
        <h3> y el Administrador del sitio.</h3>
        <h3> Comunicarse con alguno de ellos.</h3>
        <br>

        <h2 class="table-dark"> Para dar de alta una Federacion o modificar sus datos:</h2>
        <h3> Solo lo pueden hacer el Presidente o el Apoderado de la Federacion Nacional </h3>
        <br>
        <h2 class="table-dark"> Para dar de alta un Club o modificar sus datos:</h2>
        <h3> Solo lo pueden hacer el Presidente o el Apoderado de la Federacion correspondiente </h3>
        <br>
        <h2 class="table-dark"> Para cambiar el Presidente de un club:</h2>
        <h3> Solo lo pueden hacer el Presidente del Club correspondiente </h3>
        <br>
        <h2 class="table-dark"> Para cambiar el Apoderado de un club:</h2>
        <h3> Solo lo pueden hacer el Presidente o Apoderado del Club correspondiente </h3>
        <br>
        <h2 class="table-dark"> Para dar de alta un torneo o modificar sus datos:</h2>
        <h3> Solo lo pueden hacer el Presidente o Apoderado del Club correspondiente </h3>
        <br>
        <h2 class="table-dark"> Cambios de Categoría de Jugadores</h2>
        <h3> Solo lo pueden hacer el Presidente o Apoderado de la Federacion correspondiente </h3>
        <br>
        <h2 class="table-dark"> Administracion de Torneos:</h2>
        <h3> Solo lo pueden hacer el Presidente o Apoderado del Club correspondiente </h3>
        <br>
    </div>