@{
    ViewData["Title"] = "Home Page";
}

<div  class="container fondo" style="width:100%; margin:0px; padding:0px; text-align:center"
    >
    <h1 >Bienvenidos</h1>
    <p>Al sitio de 5 Quillas Argentina</p>

</div>
