@model Identidad.Models.ApoderadoFederacion

@{
    ViewData["Title"] = "Agregar Apoderado Federacion";
}
    <div class="container-fluid" style="margin-left:2EM">

        <h1>Agregar Apoderado Federacion</h1>

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FedID" class="control-label font2b"></label>
                        <select asp-for="FedID" class="form-control font2" asp-items="ViewBag.FedID">
                            <option value="">Elija una Federacion...</option>
                        </select>
                        <span asp-validation-for="FedID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PerfilID" class="control-label font2b"></label>
                        <select asp-for="PerfilID" class="form-control font2" asp-items="ViewBag.PerfilID">
                            <option value="">Elija un Apoderado...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Agregar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Volver a la Lista</a>
        </div>

    </div>