@model Identidad.Models.Recursos.Etapa

@{
    ViewData["Title"] = "Detalle Etapa";
}

    <h1>Detalle Etapa</h1>

<div style="padding-left=10px">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 font2">
            @Html.DisplayNameFor(model => model.NombreEtapa)
        </dt>
        <dd class = "col-sm-10 font2">
            @Html.DisplayFor(model => model.NombreEtapa)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary font2"asp-action="Edit" asp-route-id="@Model.EtapaId">Editar</a> <br />
    <a class="font2" asp-action="Index">Volver a la Lista</a>
</div>
