@model Identidad.Models.CategoriaJugador

@{
    ViewData["Title"] = "Editar Categorias";
}

<h1>Editar Categorias</h1>

<hr />
<div class="row font2">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoriaJugadorID" />
            <div class="form-group">
                <label asp-for="PerfilFK" class="control-label font2b">Jugador</label>
                <select asp-for="PerfilFK" class="form-control font2" asp-items="ViewBag.PerfilFK">
                    <option value="@Model.PerfilFK"></option>

                </select>
                <span asp-validation-for="PerfilFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JuegoFK" class="control-label font2b">Juego</label>
                <select asp-for="JuegoFK" class="form-control font2" asp-items="ViewBag.JuegoFK">
                    <option value="@Model.JuegoFK"></option>

                </select>
                <span asp-validation-for="JuegoFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaFK" class="control-label font2b">Categoria</label>
                <select asp-for="CategoriaFK" class="form-control font2" asp-items="ViewBag.CategoriaFK">
                    <option value="@Model.CategoriaFK"></option>

                </select>
                <span asp-validation-for="CategoriaFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary font2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="font2 " asp-action="Index">Volver a la Lista</a>
</div>

