@model Identidad.Models.Inscripcion

@{
    ViewData["Title"] = "Eliminar Inscripcion";
}

    <h1>Eliminar Inscripcion</h1>

<h3>Esta seguro de eliminar esta inscripcion?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 font2b">
            @Html.DisplayNameFor(model => model.Perfil)
        </dt>
        <dd class = "col-sm-10 font2">
            @Html.DisplayFor(model => model.Perfil.nombre)
        </dd class>
        <dt class = "col-sm-2 font2b">
            @Html.DisplayNameFor(model => model.Torneo)
        </dt>
        <dd class = "col-sm-10 font2">
            @Html.DisplayFor(model => model.Torneo.NombreTorneo)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="InscripcionID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="font2 " asp-action="Index">Volver a la Lista</a>
    </form>
</div>
