@model Identidad.Models.Recursos.Provincia

@{
    ViewData["Title"] = "Eliminar Provincia";
}

<h1>Eliminar Provincia</h1>

<h3>Esta seguro de eliminar esta Provincia?</h3>
<div class="font2">
    <h4>Provincia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 font2b">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Eliminar" class="btn btn-danger font2" /> |
        <a class="font2 " asp-action="Index">Volver a la Lista</a>
    </form>
</div>
