@model Identidad.Models.ZonaJugador

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ZonaJugador</h4>
<hr />
<div class="row font2">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ZonaID" class="control-label font2b"></label>
                <input asp-for="ZonaID" class="form-control" />
                <span asp-validation-for="ZonaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerfilID" class="control-label font2b"></label>
                <input asp-for="PerfilID" class="form-control" />
                <span asp-validation-for="PerfilID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>

